.button {
    box-sizing: border-box;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.button-secondary {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.button-disabled {
    background-color: #e0e0e0;
    border: 2px solid #ccc;
    color: #a0a0a0;
    cursor: not-allowed;
}
